[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "==3.4.2"
gitpython = "==3.1.43"
tree-sitter = "==0.23.2"
tree-sitter-python = "==0.23.2"

[dev-packages]

[requires]
python_version = "3.12"
